<div class="container-xs text-center">
  <div class="row">
    <div class="col">
      <h3 class="fs-3">{{ selectedRecipe.name }}</h3>
      <img
        src="{{ selectedRecipe.imageUrl }}"
        alt="{{ selectedRecipe.name }}"
        class="img-thumbnail"
      />
      <p>{{ selectedRecipe.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-evenly align-items-center">
        <h3 class="fs-3">Ingredients</h3>
        <button
          (click)="onAddIngredientsToShoppingList(selectedRecipe.id)"
          class="btn btn-sm btn-outline-primary"
        >
          Add to Shopping List
        </button>
      </div>
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let ingredient of selectedRecipe.ingredients"
          class="list-group-item"
        >
          <span>{{ ingredient.amount }} </span>
          <span>{{ ingredient.unit }} </span>
          <span>{{ ingredient.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
