<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <app-recipe-list-item
          *ngFor="let recipe of recipes"
          [recipe]="recipe"
          (recipeSelected)="onPreviewRecipe(recipe.id)"
        >
        </app-recipe-list-item>
      </ul>
    </div>
    <div class="col text-center border-start">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Details</h2>
        <button (click)="onClosePreviewRecipe()" class="btn btn-close"></button>
      </div>
      <app-recipe-detail
        *ngIf="showPreview; else noSelectedRecipe"
        [selectedRecipe]="selectedRecipe"
      ></app-recipe-detail>
      <ng-template #noSelectedRecipe>
        <span class="text-body-tertiary">Select a recipe</span>
      </ng-template>
    </div>
  </div>
</div>
