<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between">
    <label class="form-check-label stretched-link" for="firstCheckboxStretched"
      >First ingredient</label
    >
    <input
      class="form-check-input me-1"
      type="checkbox"
      value=""
      id="firstCheckboxStretched"
    />
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <label class="form-check-label stretched-link" for="secondCheckboxStretched"
      >Second ingredient</label
    >
    <input
      class="form-check-input me-1"
      type="checkbox"
      value=""
      id="secondCheckboxStretched"
    />
  </li>
</ul>
